<h4>	<%= @survey.name %>(<%= @survey.id %>)</h4> <br>

<% @survey.questions.each do |question| %>
 	
<%= question.title  %> <br>

<% question.options.each do |option| %> 
<%= option.otext  %> <br>

<% end  %>
<% end  %>